*{margin : 0 ; padding: 0; box-sizing : border-box;}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color : rgb(255, 253, 253);
    text-shadow: 2px 2px black;
    
}

.content{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.header{
    padding: 25px;
    width: 540px;
    background-color: rgba(32, 32, 31, 0.2);
    border-radius: 25px 25px 0 0;
}
.rows{
    width: 540px;
    background-color: rgba(36, 36, 32, 0.2);
    border-radius: 0 0 25px 25px;
}
.header h1{
    color: rgb(235, 194, 14);
    font-size: 75px;
    text-shadow: 2px 2px black;
}
.header input{
    width: 65%;
    padding: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border: 2px solid gold;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 253, 253);
    
}
.city{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 2px 2px black ;
}
.temp{
    font-size: 100px;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 2px 2px black ;
}
.desc{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 2px 2px black ;
}
.min{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 2px 2px black ;
}
.max{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    text-shadow: 2px 2px black ;
}